**Task 1**
**Appending the List**

In [3]:
vegetables = ["potato", "onion", "cucumber"]
vegetables.append("lady finger")
print(vegetables)

['potato', 'onion', 'cucumber', 'lady finger']

**Task 2**
**Clearing the List**

In [4]:
car_brand = ["Mercedes", "BMW", "Porsche"]
car_brand.clear()
print(car_brand)

[]

**Task 3**
**Copying the List**

In [6]:
car_brand = ["Mercedes", "BMW", "Audi"]
print(car_brand)
car_brand2 = car_brand.copy()
print(car_brand2)
car_brand2.append("porsche")
print(car_brand2)

['Mercedes', 'BMW', 'Audi']
['Mercedes', 'BMW', 'Audi']
['Mercedes', 'BMW', 'Audi', 'porsche']

**Task 4**
**Counting the List**

In [7]:
jets = ["F-16", "F-35 raptor", "B2 Bomber", "JF-17 Thunder", "F-16", "F-35 raptor", "F-16"]
print(jets)
print(jets.count("F-16"))
print(jets.count("F-35 raptor"))

['F-16', 'F-35 raptor', 'B2 Bomber', 'JF-17 Thunder', 'F-16', 'F-35 raptor', 'F-16']
3
2

**Task 5**
**Extending the List**

In [9]:
#extend 5
vegetables = ["potato", "onion", "cucumber"]
fruits = ["coconut", "pine apple", "kiwi"]
print(vegetables)
print(fruits)
fruits.extend(vegetables)
print(fruits)

['potato', 'onion', 'cucumber']
['coconut', 'pine apple', 'kiwi']
['coconut', 'pine apple', 'kiwi', 'potato', 'onion', 'cucumber']

**Task 6**
**Indexing the List**

In [14]:
car_brand = ["Mercedes", "BMW", "Audi", "Porsche", "Honda", "Mazda", "Nissan"]
print(car_brand)
print(car_brand.index("BMW"))
print(car_brand.index("Porsche"))
# negative indexing
print(car_brand[1:4])
print(car_brand[-5:-2])

['Mercedes', 'BMW', 'Audi', 'Porsche', 'Honda', 'Mazda', 'Nissan']
1
3
['BMW', 'Audi', 'Porsche']
['Audi', 'Porsche', 'Honda']

**Task 7**
**Inserting the List**

In [15]:
car_brand = ["Mercedes", "BMW", "Audi", "Porsche", "Honda", "Mazda", "Nissan"]
print(car_brand)
car_brand.insert(5,"Skoda")
print(car_brand)

['Mercedes', 'BMW', 'Audi', 'Porsche', 'Honda', 'Mazda', 'Nissan']
['Mercedes', 'BMW', 'Audi', 'Porsche', 'Honda', 'Skoda', 'Mazda', 'Nissan']

**Task 8**
**Poping the List**

In [17]:
car_brand = ["Mercedes", "BMW", "Audi", "Porsche", "Honda", "Mazda", "Nissan"]
print(car_brand)
car_brand.pop(3)
print(car_brand)
car_brand.pop(3)
print(car_brand)

['Mercedes', 'BMW', 'Audi', 'Porsche', 'Honda', 'Mazda', 'Nissan']
['Mercedes', 'BMW', 'Audi', 'Honda', 'Mazda', 'Nissan']
['Mercedes', 'BMW', 'Audi', 'Mazda', 'Nissan']

**Task 9**
**Removing the List**

In [19]:
car_brand = ["Mercedes", "BMW", "Audi", "Porsche", "Honda", "Mazda", "Nissan"]
print(car_brand)
car_brand.remove("Audi")
print(car_brand)
car_brand.remove("Porsche")
print(car_brand)

['Mercedes', 'BMW', 'Audi', 'Porsche', 'Honda', 'Mazda', 'Nissan']
['Mercedes', 'BMW', 'Porsche', 'Honda', 'Mazda', 'Nissan']
['Mercedes', 'BMW', 'Honda', 'Mazda', 'Nissan']

**Task 10**
**Reversing the List**

In [21]:
car_brand = ["Mercedes", "BMW", "Audi", "Porsche", "Honda", "Mazda", "Nissan"]
print(car_brand)
car_brand.reverse()
print(car_brand)

['Mercedes', 'BMW', 'Audi', 'Porsche', 'Honda', 'Mazda', 'Nissan']
['Nissan', 'Mazda', 'Honda', 'Porsche', 'Audi', 'BMW', 'Mercedes']

**Task 11**
**Sorting the List**

In [24]:
car_brand = ["Mercedes", "BMW", "Audi", "Porsche", "Honda", "Mazda", "Nissan"]
print(car_brand)
car_brand.sort()
print(car_brand)

numaric_list = [2, 434, 1, 3, 5, 0]
print("Numeric list sorting in ascending order")
print(numaric_list)
numaric_list.sort()
print(numaric_list)

print("Numeric list sorting in descending order")
numaric_list.sort(reverse=True)
print(numaric_list)

['Mercedes', 'BMW', 'Audi', 'Porsche', 'Honda', 'Mazda', 'Nissan']
['Audi', 'BMW', 'Honda', 'Mazda', 'Mercedes', 'Nissan', 'Porsche']
Numeric list sorting in ascending order
[2, 434, 1, 3, 5, 0]
[0, 1, 2, 3, 5, 434]
Numeric list sorting in descending order
[434, 5, 3, 2, 1, 0]

BONUS

In [25]:
fruit_list = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple']

counts = {}

for item in fruit_list:
    if item in counts:
        counts[item] += 1
    else:
        counts[item] = 1

print(counts)

{'apple': 3, 'banana': 2, 'orange': 1}