In [ ]:
#task 1
#addition

numA = 23
numB = 4

addition = numA + numB

print("Addition ",addition)

Addition  27

In [ ]:
#Subtraction

numA = 23
numB = 4

subtraction = numA - numB

print("subtraction ",subtraction)

subtraction  19

In [ ]:
#Multiplication

numA = 23
numB = 4

multiplication = numA * numB

print("multiplication ",multiplication)

multiplication  92

In [ ]:
#Division

numA = 25
numB = 5

division = numA / numB

print("division ",division)

division  5.0

In [ ]:
#Floor Division

numA = 28
numB = 5

floor_division = numA // numB

print("floor Division ",floor_division)

floor Division  5

In [ ]:
#Modulus

numA = 28
numB = 5

modulus = numA % numB

print("modulus ",modulus)

modulus  3

In [ ]:
#Input your name and age, then print them

name = input("What is your name :")
age = input("What is your age :")

print("Your name is  ",name)
print("Your age is  ",age)

What is your name :Abdullah
What is your age :20
Your name is   Abdullah
Your age is   20

In [ ]:
#Write a program to check if a number is even or odd

random_num = int(input("Enter a random number "))

if random_num % 2 == 0:
  print("The number is Even")
else :
  print("The number is Odd")

Enter a random number 22
The number is Odd

In [ ]:
#Find the largest of three numbers using conditions

num1 = int(input("Enter the first number "))
num2 = int(input("Enter the second number "))
num3 = int(input("Enter the third number "))

if num1 >= num2 and num1 >= num3 :
  largest = num1
elif num2 >= num1 and num2 >= num3 :
  largest = num2
else :
  largest = num3

print("The Largest number is " ,largest)

Enter the first number 2
Enter the second number 6
Enter the third number 9
The Largest number is  9

In [ ]:
#Reverse a string using slicing

strung = input("Enter the string ")
reverse_string = strung[::-1]

reverse_string

Enter the string abdullah

'halludba'

In [ ]:
#Print the first 10 terms of the Fibonacci sequence

terms = 10
a, b = 0, 1

print("first 10 terms of the Fibonacci sequence")

for x in range(terms):
  print(a)
  a, b = b, a + b

first 10 terms of the Fibonacci sequence
0
1
1
2
3
5
8
13
21
34

In [ ]:
#Write a program to calculate the factorial of a number using a loop

number = int(input("Enter the number "))
fact = 1

for i in range(1, number + 1):
  fact = fact * i

fact

Enter the number 4

24

In [36]:
#Print table of the given number

number = int(input("Enter a number "))

for x in range(1, 11):
  print(number, "x", x, number * x)

Enter a number 22
22 x 1 = 22
22 x 2 = 44
22 x 3 = 66
22 x 4 = 88
22 x 5 = 110
22 x 6 = 132
22 x 7 = 154
22 x 8 = 176
22 x 9 = 198
22 x 10 = 220

In [37]:
#task 5
#Count Digits in Number and their Sum

number1 =  input("Enter a number ")
count = 0
sumDigits = 0

for d in number1:
  count = count + 1
  sumDigits = sumDigits + int(d)

print("Number of digits in ", number1, "is", count)
print("Sum of digits is ", sumDigits)

Enter a number 44
Number of digits in  44 is 2
Sum of digits is  8